extends starter
append body
  .container
    div
      p Jeri Veingrad is a senior at Baruch College, graduating in May with a degree in Computer Information Systems. She currently works at the NFL in the IT department and is pursuing a career in the field. Jeri is very passionate about her work and is very excited to make this project a success.
    div
      p Brian Jeong is a senior at Baruch College pursuing a degree in Computer Information Systems. Previously an accounting major, he is relatively inexperienced in information technology but is enthusiastic to learn about his new field of study. For Brian, being a part of this project will prove to be a challenge but he is ready to help his teammates achieve their goals.</p>

    div
       p Josh Tusaneza is a senior at Baruch College studying Computer Information Systems. He currently works at Grand Central's Apple Store where he can fully immerse himself in the technology he wants to create later on in his career. This project is important to him and he is happy to be a part of it.
