extends starter
append body
  .container
    h4 Project Details and Communication
    br
    div
      p
        strong
          u Project Communication
      br
      | Communication: SMS

    div
      p
        strong
          u Project Challenges
      br
      | 1. Lack of communication to complete project
      | 2. Lack of a united front
      | 3. Different ideas moving forward
      | 4. Lack of experience 

    div
      p
        strong
          u Project Deadlines 
      br
      | 1. March 20th, 2018: Full Content Website
      | 2. March 26th, 2018: Presentation Complete
      | 3. May 1st, 2018: Backend and database complete
      | 4. May 1st, 2018: Front end complete

    div
      p
        strong
          u Project Goals 
      br
      | 1. Presentation Completion
      | 2. Weekly website updates
      | 3. Communication with team members
      | 4. Open data vs Yelp API?
      | 5. Github for code sharing?
      | 6. Organized tasks for each person 

    div
      p
        strong
          u Team Member Commitments
      br
      | Jeri : Website, Database, Back-End
      | Brian: Database, Back-end
      | Josh: Front-end

    div
      p
        strong
          u Upcoming Meetings 
      br
      | Meeting date: March 22nd, 2018
      | Location: Baruch Library
      | Members attended:Jeri, Brian, and Josh
      | Meeting details:Figured out all communication issues, assigned roles, communicated different ways to complete the project with current knowledge, using GitHub for code communication.+
      | 
      | Meeting date: May 8th, 2018
      | Location: Baruch Library

    div
      p
        strong
          u Use Cases 
      br
      img(src="/images/UseCases.png", alt="usecase")

    div
      p
        strong
          u System Flow 
      br
      img(src="/images/SystemFlow.png", alt="usecase")

    div
      p
        strong
          u UI Mockup
      br
      img(src="/images/Mockup.png", alt="usecase")

    div
      p
        strong
          u UI Mockup
      br
      img(src="/images/Mockup.png", alt="usecase")

    div
      p
        strong
          u UI Mockup
      br
      img(src="/images/Mockup2.png", alt="usecase")

    div
      p
        strong
          u UI Mockup
      br
      img(src="/images/Mockup3.png", alt="usecase")
