extends starter
append body
 #restdiv
  .container
    h1 Restaurants
    ul
      for restaurant in restaurants
        li
          div#rest
            a#namesize(href="/restaurants/" + restaurant._id) #{restaurant.name}
      else
        li Sorry, No Restaurants!
    h4 Add New Restaurant

    form(action=current_url, method="post")
      div#form.input
          span Restaurant Name
          input(type="text", name="name")
      div#sub.actions
          input(type="submit", value="Submit")
