extends starter
append body
  .container
    h4 About the Project
    br
    p iCreatique.com was created to fill a gap that exists between food critics and restaurant reviews. On iCreatique.com we want you to be the food critique for restaurant-goers and foodies alike. We believe that although thorough reviews on restaurants help with ambiance, service quality, and restaurant pricing, they do not conquer the most important part of dining out, the food! Creatique allows you to search for your favorite meal or whatever you're craving and find THE best plate in your area. 
    br
    | We will use open data on restaurants and Yelp Api to create a database of restaurants. Each restaurant listed will have their Yelp reviews, since that is also an important factor. Restaurant 'meals' will be created by users, where they would be able to rate the food our of 5 stars and write a review as well as list the price.

