extends starter
append body
  .container
    h4 Project Status
    div
      p
        strong
          u Website Status
        br
        | Full Content Website Deadline: March 20th, 2018
        br
        | Started: March 12th, 2018 
        br
        | Worked on by: Jeri Veingrad on March 14th, 2018
        br
        | Complete? Yes
        br
        | Date Completed: March 20, 2018 6:00pm
 

    div
      p
        strong
          u Presentation Status
        br
        | Presentation Deadline: March 27th, 2018
        | Started On:March 22nd, 2018
        | Worked on by:Jeri, Brian, and Josh
        | Complete? Yes
        | Date Completed:March 27th, 2018

    div
      p
        strong
          u Database Status
        br
        | Database Deadline: April 15th, 2018
        | Started On: March 30th, 2018
        | Worked on by: Jeri and Brian
        | Complete? Yes
        | Date Completed: May 6th, 2018

    div
      p
        strong
          u Back-End Status
        br
        | Back-end Deadline: April 15th, 2018
        | Started On: February 16, 2018
        | Worked on by: Jeri and Brian
        | Complete? No
        | Date Completed:

    div
      p
        strong
          u Front-End Status
        br
        | Front-end Deadline: May 1st, 2018
        | Started On: April 17th, 2018
        | Worked on by: Josh
        | Complete? No
        | Date Completed:
