body {
  padding-top: 70px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
#restdiv {
  border: 1px solid black;
}
#rest {
  border: 1px solid red;
}
li {
  list-style-type: none;
}
